[ req ]
req_extensions = v3_req
distinguished_name = get_DN
[ get_DN ]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = incubator2.nps.edu
DNS.2 = source.incubator2.nps.edu
DNS.3 = auth.incubator2.nps.edu
DNS.4=ci10.ccs.nps.edu
DNS.5=ci11.ccs.nps.edu
DNS.6=ci12.ccs.nps.edu
DNS.7=ci13.ccs.nps.edu
DNS.8=ci14.ccs.nps.edu
DNS.9=ci15.ccs.nps.edu
DNS.10=ci16.ccs.nps.edu
DNS.11=ci17.ccs.nps.edu
DNS.12=ci18.ccs.nps.edu
DNS.13=ci19.ccs.nps.edu
DNS.14=ci20.ccs.nps.edu
DNS.15=ci21.ccs.nps.edu
DNS.16=ci22.ccs.nps.edu
DNS.17=ci23.ccs.nps.edu
DNS.18=ci24.ccs.nps.edu
DNS.19=ci25.ccs.nps.edu
DNS.20=ci26.ccs.nps.edu
DNS.21=ci27.ccs.nps.edu
DNS.22=ci28.ccs.nps.edu
DNS.23=ci29.ccs.nps.edu
